/*
Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


/* media screen */

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

/* global styles */

 
body {
    font-family: 'Roboto', sans-serif;
    background: rgba(107, 95, 47, 0.9);
    color: rgba(255, 255, 255, 0.891);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.891);
  }
  h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.891);
 
  }
  h2 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.891);
  }
  h3 {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.891);
  }
  h4 {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.891);
  }
  p {
    margin-bottom: 1.25rem;
    color: rgba(255, 255, 255, 0.891);
  }

 
 /* Navbar */
 
 header{
    
    margin-left:-.5rem;

 }
 
 .navbar {
     position: fixed;
     overflow: hidden;
     top: 0;
     width: 100%;
     background: rgba(10, 9, 11, 0.84);
     box-shadow: rgba(2, 2, 2, 0.5);
     
     
 }
 
 .nav-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem;
     
 }
 
 .nav-toggle {
     font-size: 1.5rem;
     color: rgba(220, 209, 209, 0.5);
     background: transparent;
     border-color: transparent;
     transition: all 0.3s linear;
     cursor: pointer;
 }
 
 .nav-toggle:hover {
     color: rgba(95, 8, 195, 0.5);
     transform: rotate(90deg);
 }
 
 .logo {
     height: 50px;
 }
 
 /* Links styling */
 
 .links a {
     color: rgba(240, 240, 240, 0.942);
     font-size: 1rem;
     text-transform: capitalize;
     letter-spacing: 0.1rem;
     display: block;
     padding: 2rem 3rem;
     transition: all 0.3s linear;
 }
 
 .links a:hover {
     
     color: rgb(255, 255, 255);
     background-color: transparent;
 }
 
 .links {
     height: 0;
     overflow: hidden;
     transition: all 0.3s linear;
 }
 
 /* toggle class */
 
 .show-links {
     height: auto;
 }
 
 @media screen and (min-width: 800px) {
     .nav-center {
         max-width: 1170px;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 1rem;
     }
     .nav-header {
         padding: 0;
     }
     .nav-toggle {
         display: none;
     }
     .links {
         /* important */
         height: auto;
         display: flex;
         justify-content: center;
     }
     .links a {
         padding: 0;
         margin: 0 0.5rem;
         
     }
     .links a:hover {
       /* padding: 2rem; */
       background: transparent;
     }
    
 }
 
 /* main content */
 .intro{
   text-align: center;
 }
 
 .main-content{
   margin-top: 60px;
   text-align: left;  
   padding: 2rem 0rem;
     
     
 }
 
 
 .SCP-content{
   padding: 2rem;
   margin: 1rem;
   border: 2px solid;
   border-radius: 10px;
   border-color: black;
   justify-content: center;
   
   /* grid-column-start: 2;
   grid-column-end: 4; */
   
 
   
 }
 
 /* sidebar
 
 
 .sidebar{
     margin: 0;
     display: block;
     padding: 0;
     width: 200px;
     background-color: rgba(84, 80, 86, 0.5);
     position: fixed;
     height: 100vh;
     overflow: auto;
     justify-content: left;
   }
   
   .sidebar a{
     display: block;
     color: rgba(0, 0, 0, 0.5);
     padding: 2rem;
     text-decoration: none;
   }
   
   .sidebar a.active {
     background-color: rgba(95, 8, 195, 0.5);
     color: rgba(0, 0, 0, 0.5);
   }
   
   .sidebar a:hover:not(.active){
     background-color: rgba(82, 81, 83, 0.5);
     color: rgb(255, 255, 255);
   }
   
   @media screen and (max-width: 700px) {
     .sidebar {
       width: 100%;
       height: auto;
       position: relative;
     }
     .sidebar a {float: left;}
     div.content {margin-left: 0;}
   } */
 
 /* Button style */
 
 button{
   background-color: rgba(189, 184, 184, 0.7);
   border: none;
   color: rgba(255, 255, 255, 0.891);
   padding: 1rem 2rem;
   text-align: center;
   text-decoration: none
   width: 200px; 
 }
 
 button:hover{
   background: transparent;
 }